* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

li::before {
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-right: 9px;
  background-color: #000;
  border-radius: 50%;
  content: '';
}

ol,
ul {
  padding-top: 16px;
  padding-left: 23px;
  font-size: 13px;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 796px;
  height: 652px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
}

.header {
  margin-bottom: 10px;
  background-color: #ccc;
}

.header__info {
  display: flex;
  padding-top: 9px;
  border: 1px solid black;
}

.header__icon {
  margin: 0 9px 20px;
}

.header__img {
  display: block;
  width: 69px;
  height: 69px;
  background-color: blue;
}

.header__heading {
  color: #6b6b6b;
}

.header__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
}

.header__subtitle {
  font-weight: 400;
  font-size: 14px;
}

.header__navigation {
  display: flex;
  background-color: #383838;
}

.header__link {
  display: flex;
  justify-content: center;
  width: 104px;
  padding: 8px 1px;
}

.header__link,
.header__link:visited,
.header__link:hover {
  color: #fff;
}

.header__link:hover {
  color: #000;
  background-color: #fff;
}

.header__link.active {
  color: #000;
  background-color: #fff;
}

.main {
  display: flex;
  color: #383838;
}

.main__pageNavigation {
  min-width: 224px;
  background-color: #ccc;
}

.main__navBlock {
  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-top: 11px;
  padding-right: 10px;
}

.main__Link {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: #fff;
  background-color: #383838;
}

.header__link:focus,
.main__Link:focus {
  position: relative;
  outline: solid rgb(41 159 255);
}

.main__Link--active {
  color: #000;
  text-decoration: underline;
  background-color: #fff;
}

.main__Link:hover {
  color: #000;
  text-decoration: underline;
  background-color: #fff;
}

.main__content {
  flex-grow: 1;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 2px;
}

.main__heading2 {
  margin-bottom: 8px;
  font-size: 17px;
}

.main__heading3 {
  font-weight: 100;
  font-size: 16px;
}

.main__text {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 16px;
}

li.main__listItem {
  display: flex;
  padding-bottom: 5px;
}

.footer {
  height: 25px;
  margin-top: auto;
  background-color: #383838;
}
